@use 'variables';
@use 'hero';
    @use 'components/infobar';
    @use 'components/buttons';
@use 'event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        max-width: 90%;
    }
}

@mixin body-text() {
    font-size: 16px;
    line-height: 22px;
}

@mixin body-title() {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.body-text {
    @include body-text();
}

.body-title {
    @include body-title();
}